[user]
  name = carole-lavillonniere
  email = carole.lavillonniere@gmail.com
[color]
  status = auto
  branch = auto
  diff = auto
[alias]
  co = checkout
  ci = commit
  rb = rebase
  lg = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
  logg = log --oneline --graph --all --decorate=on
  hub = !echo "https://github.com/`git config remote.origin.url`" | sed "s/git@github.com://g" | xargs open 
  pulls = !echo "https://github.com/`git config remote.origin.url`/pulls" | sed "s/git@github.com://g" | sed "s/\\\\.git//g" | xargs open 
  issues = !echo "https://github.com/`git config remote.origin.url`/issues" | sed "s/git@github.com://g" | sed "s/\\\\.git//g" | xargs open
  projects = !echo "https://github.com/`git config remote.origin.url`/projects" | sed "s/git@github.com://g" | sed "s/\\\\.git//g" | xargs open
  circle = !echo "https://circleci.com/gh/`git config remote.origin.url`" | sed "s/git@github.com://g" |  sed "s/.git//g" | xargs open
  pf = push force
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[diff]
	tool = vimdiff
	submodule = log
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[merge]
	tool = vimdiff
[push]
  default = current
[mergetool]
  keepBackup = false
[pull]
  rebase = true
	default = current
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
; [url "https://:@github.com/"]
	; insteadOf = https://github.com/
[init]
	defaultBranch = main
[url "https://:@github.com/"]
	insteadOf = https://github.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
