let mapleader = ","

map <leader>cc <Action>(CommentByLineComment)

" Disable arrow keys in all modes
noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>

inoremap <Up> <Nop>
inoremap <Down> <Nop>
inoremap <Left> <Nop>
inoremap <Right> <Nop>

vnoremap <Up> <Nop>
vnoremap <Down> <Nop>
vnoremap <Left> <Nop>
vnoremap <Right> <Nop>

map <leader>o :source ~/.ideavimrc<cr>

" Disable mouse scrolling
set nomouse

