let mapleader = ","

map <leader>cc <Action>(CommentByLineComment)
map <leader>cu <Action>(CommentByLineComment)
map <leader>f <Action>(GotoFile)
map <leader>b <Action>(Switcher)
map <leader>o :source ~/.ideavimrc<cr>

" Disable arrow keys in all modes
noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>

inoremap <Up> <Nop>
inoremap <Down> <Nop>
inoremap <Left> <Nop>
inoremap <Right> <Nop>

vnoremap <Up> <Nop>
vnoremap <Down> <Nop>
vnoremap <Left> <Nop>
vnoremap <Right> <Nop>

set incsearch
set smartcase
set nohlsearch
set scrolloff=5
set number
set clipboard=unnamed,unnamedplus,ideaput

