[Desktop Entry]
Version=1.0
Name=Nightly
Comment=Browse the World Wide Web
Icon=/home/carolavillo/firefox/browser/chrome/icons/default/default128.png
Exec=/home/carolavillo/firefox/firefox %u
Terminal=false
Type=Application
